.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* cupcake css */
.cupcake-card{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
}

.cupcake-img{
  max-height: 200px;
  max-width: 200px;
}

.cupcake-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #D9ECD0;
  padding: 10px;
  margin-top: 65px;
}

/* login */
/* .login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #F1EEE6;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #F1EEE6;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #F1EEE6;
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #F1EEE6;
	pointer-events: none;
	transition: .5s;
}

/* .login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
	top: -20px; 
	left: 0px; 
	color: #03E9F4;
	font-size: 12px;
} */


/* .login-box form a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: #03E9F4;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-top: 40px;
	letter-spacing: 4px;
} */

/* .login-box form a:hover {
	background: #03E9F4;
	color: #F1EEE6;
	border-radius: 5px;
	box-shadow: 0 0 5px #03E9F4,
							 0 0 25px #03E9F4,
							 0 0 50px #03E9F4,
							 0 0 100px #03E9F4;
} */
/* .login-box form input[type="submit"] {
  background: rgba(217, 236, 208, 0.966);
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: rgb(29, 17, 17);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.login-box form input[type="submit"]:hover {
  background: #cf618f;
}  */

/* navbar */
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body{
  /* background: url(https://i.pinimg.com/originals/86/5a/eb/865aeb8ad935a65cd746d7b7b8413aff.jpg); */
}

.container {
  width: 100%;
  position: relative;
}

header{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(182, 219, 164);
  border-bottom: 5px solid rgb(162, 202, 144);
}

header .logo a{
  font-family: 'Trade Winds';
  color: white;
  font-size: 30px;
  text-decoration: none;
}
nav ul li{
  display: inline-block;
  padding:10px 5px;
  list-style: none;
}
nav ul {
  padding-top: 3px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  border-bottom: 3px solid white;
}



/* sign up form */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Amaranth|Changa+One|Comfortaa|Concert+One|Merriweather|Rozha+One');
/* End Fonts */
*{transition: all .3s linear; box-sizing: border-box;}
body{
/*   background-color: #fbc2eb; */
  

  background-image: linear-gradient( 135deg, #FDCFCF 10%, rgb(243, 176, 176) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
font-family: 'Comfortaa', cursive;
  
}

.select{
  background: transparent;
  background: rgba(0, 0, 0, 0.219);


}

.card {
  width: 900px;
  height: 400px;
  background: rgba(255, 255, 255, 0.56);
  margin: 10px auto 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  background: rgba(0,0,0,0.07) 73%);
  text-align: center;
  border-radius: 5px;
  position: relative;
  margin-top: 5%;
}
.about{
   width: 40%;
  height: 100%;
  float: left;
  background: url(https://66.media.tumblr.com/d8ba5f7342bb2fd3be5bec7677c1301e/tumblr_oiwxnu4FHD1skw17ko1_r1_1280.gifv);
  background-size: cover;
  color: #649DAD;
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
/* about p*/
.about h1 {margin-top: 60px;}
.about p {
  margin-top: 250px;
  border-style: transparent;
  background-color: #FDCFCF;
  
}




/* form */
form {
  margin-top: 20px;
  width: 60%;
  height: 100%;
  float: right;
  overflow: hidden;
}
/* input[type=text] */
form .inputs input {

  width: 45%;
  padding: 12px 20px;
  margin: 10px 0;
  font-family: 'Comfortaa', cursive;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.140);
  border-radius: 5px;
  
}
input[type]:focus {
   background: rgba(0,0,0,0.40);
    color: #FFF;
}


.submit {

  background: transparent;
  border: 2px solid #96CDDC;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: 'Comfortaa', cursive;
   outline: none;
  border-radius: 5px;

  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  
  position: relative;
}
.submit::before{
  content: '';
  position: absolute;
  width: 100%;
  height:0;
  background: rgb(118, 173, 192);
  top:0;
  left:0;
  z-index:-1;
  transition: all 0.3s;
  content: '';
  position: absolute;
}
.submit:hover:before{
  height:100%;
}





/* .for login */
/* .login {margin-top: 30px;}
#login p {
  font-size: 80%;
}  

#login span{
  font-weight: bolder;
  text-decoration: underline;
  color:#96CDDC;
  cursor: pointer;
} 
#login span:hover{color:#96CDDC;} */

 

.card {
  width: 900px;
  height: 400px;
  background: rgba(255, 255, 255, 0.56);
  margin: 10px auto 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  /* background: rgba(0,0,0,0.07) 73%); */
  text-align: center;
  border-radius: 5px;
  position: relative;
  margin-top: 5%;
}
.about-login{
   width: 40%;
  height: 100%;
  float: left;
  background: url(https://data.whicdn.com/images/259181962/original.gif);
  background-size: cover;
  color: #649DAD;
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
/* about p*/
.about-login h1 {
  margin-top: 60px;
  margin-left: 600px;


}
.about-login p {
  margin-top: 270px;
  border-style: transparent;
  background-color: #FEDBDB;
  border-width: thick;
  height: 30px;

  
}


/* about for the login form */
.about-login{
  width: 40%;
 height: 100%;
 float: left;
 background: url(https://data.whicdn.com/images/259181962/original.gif);
 background-size: cover;
 color: #649DAD;
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

/* form */
form {
  margin-top: 20px;
  width: 60%;
  height: 100%;
  float: right;
  overflow: hidden;
}
/* input[type=text] */
form .inputs-login input {
  position: relative;
  top:90px;
  width: 45%;
  padding: 12px 20px;
  margin: 10px 0;
  font-family: 'Comfortaa', cursive;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.140);
  border-radius: 5px;
  
}
input[type]:focus {
   background: rgba(0,0,0,0.40);
    color: #FFF;
}


.submit-login {
  top: 90px;

  background: transparent;
  border: 2px solid #96CDDC;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: 'Comfortaa', cursive;
   outline: none;
  border-radius: 5px;

  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  
  position: relative;
}
.submit-login::before{
  content: '';
  position: absolute;
  width: 100%;
  height:0;
  background: rgb(118, 173, 192);
  top:0;
  left:0;
  z-index:-1;
  transition: all 0.3s;
  content: '';
  position: absolute;
}
.submit-login:hover:before{
  height:100%;
}



/* .login */
.login-to {margin-top: 100px;}
#login-to p {
  font-size: 80%;
}  

#login-to span{
  font-weight: bolder;
  text-decoration: underline;
  color:#96CDDC;
  cursor: pointer;
} 
#login-t0 span:hover{color:#96CDDC;}

 